body {
    size: -10;
    background-color: white; 
    margin: 0;  
    font-family: 'Montserrat', sans-serif;
    line-height: 1.74;
    background-image: url("https://www.wallner.to/templates/yootheme/cache/wallner_header_home-8df42af1.webp");
}

.nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 1694px;
    background-color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.home {
    color: #F1514A;
    text-decoration: none;
}

.über_uns{
    text-decoration: none;
    color: #545454;
}

.ausbildung1{
    text-decoration: none;
    color: #545454;
}

.erste_hilfe_kurs{
    text-decoration: none;
    color: #545454;
}

.unterricht{
    text-decoration: none;
    color: #545454;
}

.anmeldung{
    text-decoration: none;
    color: #545454;
}

.nav a:hover {
    color: #F1514A;
    cursor: pointer;
  }




.background {
    background-image: url("https://www.wallner.to/templates/yootheme/cache/wallner_header_home-8df42af1.webp");
    min-height: calc(-200px + 80vh);
    offset: 20;
}

button{
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 20px;
    border: #d42725;
    color: white;
    background-color: #d42725;
    margin-left: 25%;
    height: 2.2rem;
    width: 7rem;
}

button :hover{
    background-color: white;
    color: #d42725;
    border: #A31715;
}

.main{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #A31715;
    color: white;
    height: 25rem;
    margin-top: 550px;
}

.erfahrung{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    border-right: 2px solid rgba(255, 255, 255, .1)
}

.ausbildung{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    border-right: 2px solid rgba(255, 255, 255, .1)
}

.lernen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    border-right: 2px solid rgba(255, 255, 255, .1)
}

.ausbildner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    align-items: center;

}

.überschrift_klein{
    position: relative;
    border-left: 2px solid rgba(255, 255, 255, .1);
    font-size: 1.3rem;
}